* {
    padding:0;
    margin:0;
}

#main,#header {
    padding: 10px;
}

#header {
    border-bottom: 1px solid #7E7E7E;
    background-color: #eee;
    text-align: center;
}

table.list {
    border-collapse: collapse;
}

table.list thead td {
    text-align: center;
    padding: 2px;
}

table.list tbody td {
    border: 1px solid #ddd;
    padding: 2px;
}

#nav {
    display: inline;
    background-color: #D6E6F2;
    padding: 5px;
    border-radius: 4px;
}

#nav li {
    display: inline;
    list-style-type: none; 
}
#nav a {
    padding: 4px;
}
#nav a:hover {
    background-color: #FFF4D4;
}

a {
    text-decoration: none;
    color: #5F0E2D;
}

.boxentry {
    border-left: 3px solid #B1D6FF;
    padding: 4px;
    margin: 10px 0;
    border-bottom: 1px solid #B1D6FF;
    background-color: #EAF4FF;
    border-radius: 3px;
}
.boxentry .header {
    font-size: 90%;
}

.boxentry .title {
    font-size: 133%;
}

.boxentry .floater {
    float: right;
}

.boxentry .description {
    padding-left: 4px;
}

#main {
    max-width: 1000px;
    margin:auto;
}

.boxentry .footer {
    font-size: 80%;
    font-style: italic;
}

.depname {
    padding: 5px;
}
