{% extends "base.html" %}

{% block main %}
    <div id="yamminfo">
        <h3>
            A simple YAMM service provider
        </h3>
        <div>
            Hello, and welcome here. This is a simple <a href="https://github.com/TheTerrasque/yamm">YAMM</a> service provider.
        </div>
    </div>
    
    <div id="services">
        The services we have:
        <table class="list">
        {% for s in object_list%}
            <tr>
                <td>
                    <a href="{{ s.get_absolute_url }}">{{ s }}</a>
                </td>
                <td>
                    {{ s.mod_set.count }} mods
                </td>
                <td>
                    {{ s.description }}
                </td>
                <td>
                    <a href="{{ s.get_yamm_link }}">Open in YAMM</a>
                </td>                
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}