{% extends "base.html" %}

{% block main %}
    <h2>Edit mod</h2>
    <div id="editmod">
        <form method="post" action=".">
            <table>
                {{ form }}
                {% csrf_token %}
            </table>
            <input type="submit" value="Update mod data">
        </form>
    </div>
    <div id="relations">
        <h3>Mod relations</h3>
        {{ object }}
        <div>
            <a href="{% url 'mod:mod_create_relation' object.id %}">Add a mod relation</a>
        </div>
    </div>
{% endblock %}