{% extends "base.html" %}

{% block main %}
    <div id="serviceinfo">
        <h2>{{ object.name }}</h2>
        <pre>
            {{ object.description|linebreaksbr}}
        </pre>
    </div>
    
    <div id="mods">

            {% for m in object.get_mods %}
                <div class="modentry boxentry">
                    <div class="floater">
                        <div class="yammlink"><a href="{{ m.get_yamm_link }}" >[Open in YAMM]</a></div>
                        {% if m.homepage %}<span class="homepage"><a href="{{m.homepage}}">[Mod Homepage]</a></span>{% endif %}
                        
                    </div>
                    <div class="header">
                        <a href="{{ m.get_absolute_url }}">
                            <span class="title">{{ m }}</span>
                            <span class="version">{{ m.version }}</span>
                        </a>
                        {% if m.author %}<span class="author">by {{ m.author|default:"???" }}.</span>{% endif %}
                        Category <span class="category">{{ m.category }}</span>
                        
                    </div>
                    <div class="description">{{ m.description }}</div>
                    <div class="footer">
                        <span class="updated">Last updated {{ m.updated }}</span>
                        <span class="filesize">{{ m.filesize|filesizeformat }}</span>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}