{% extends "base.html" %}

{% block main %}
    <div class="boxentry" id="mod">
        <div class="floater">
            <div class="yammlink"><a href="{{ object.get_yamm_link }}" >[Open in YAMM]</a></div>
            {% if object.homepage %}<span class="homepage"><a href="{{object.homepage}}">[Mod Homepage]</a></span>{% endif %}
            
        </div>
        <div class="header">
            <span class="title">{{ object.name }}</span>
            <span id="modversion">version {{ object.version }}</span>
            {% if m.author %}<span class="author">by {{ m.author|default:"???" }}.</span>{% endif %}
        </div>
        
    
        <div class="description">
            {{ object.description|linebreaksbr}}
        </div>
        
        <div class="dlbox">
            {% if object.torrent_file %}<div><a href="{{ object.torrent_file.url }}">Download via BitTorrent</a></div>{% endif %}
            {% if object.archive %}<div><a href="{{ object.archive.url }}">Download directly ({{ object.filesize|filesizeformat }})</a></div>{% endif %}
        </div>
        
        <div class="footer">
            <div>Part of the <a href="{{ object.service.get_absolute_url }}">{{ object.service.name }}</a> service</div>
        </div>
        
    </div>
    <div id="deps">
        {% for e in object.get_dependencies_detailed %}
            <div class="boxentry">
                <div class="header">
                    <span class="title">{{ e.name }}</span>
                </div>
                <div>
                    {% for mod in e.mods %}
                        <span class="depname">{{ mod.relation }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}