{% load static from staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>YAMM | {% block title %}Mod Service{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <div id="header">
      <ul id="nav">
        <li>
          <a href="{% url 'mod:servicelist' %}">Service list</a>
        </li>
        
        {% if user.is_authenticated %}
          <li>
            <a href="{% url "mod:user_mods" %}">{{user}}</a> | <a href="{% url 'logout' %}">Log out</a>
          </li>
          {% if user.is_staff %}
            <li>
              <a href="/admin">Admin</a>
            </li>
          {% endif %}
        {% else %}
          <li>
            <a href="{% url 'login' %}">Log in</a>
          </li>
        {% endif %}
      </ul>
    </div>
    <div id="main">
        {% block main %}
        {% endblock %}
    </div>
  </body>
</html>